certifi
chardet
cycler
dataclasses
easydict
idna
imutil
kiwisolver
matplotlib
numpy
opencv-python
Pillow
pkg-resources
pyparsing
python-dateutil
pyyaml
requests
scipy
six
tqdm
typing-extensions
urllib3
pandas
seaborn